.hidden {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

#greeting {
  font-size: 40px;
  margin: 0;
}
input::placeholder {
  color: white;
  text-align: center;
  font-size: 16px;
}
input {
  border: none;
  border-bottom: solid 1px white;
  transition: all 0.5s ease-in-out;
}
input:focus {
  outline: none;
  border-bottom: solid 1px lightgrey;
}
#todo-form input {
  width: 250px;
}
input,
button {
  background-color: rgba(0, 0, 0, 0);
  height: 20px;
}
button {
  border-radius: 20px;
  border: solid 1px white;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
button:hover {
  background-color: rgba(255 255, 255, 0.2);
}

ul {
  margin: 25px 0;
}
li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

#clock {
  font-size: 100px;
  margin: 70px 0;
}

#weather {
  margin: 40px 0;
}

#quote {
  font-style: italic;
}
